body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 1024px;
    margin: auto;
    background: #FFFCF0;
    padding: 10px 10px 10px 10px;
}
h1, h2 {
    color: #171716;
}
a {
    text-decoration: none;
    color: #f6f6ff;
}
a:hover, a:active {
    text-decoration: underline;
}
hr {
    color: #171716;
}
.info {
    font-size: medium;
}
ul {
    list-style-type: square;
}